# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\TH_KT&TKPM\18079021_NVHung_Singleton_Parttern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
